/*Profile*/

.profile{

	background: #B20000;
}

/*Amount Due*/


.amount-due th{

color:  teal;
font-size: 2em

}

/*Academic Profile*/

.academic-profile{


}

/*Account Summary*/

.account-summary{


}

/*Canvas-email*/

.canvas-email{


}


/*Assignements Coming Up*/

.coming-up{


}

/*Email*/

.email{


}

/*Financial Aid*/

.financial-aid{


}

/*Footer Menu*/

.footer-menu{


}

/*Courses*/

.my-courses{


}

/*Grades*/

.my-grades{


}

/*Recent Feedback*/

.recent-feedback{


}

/*Registration Date*/

.registration-date{


}

/*Registration Tools*/

.registration-tools{


}

/*Assignemtns To Do*/

.to-do{


}



.ui.segment.attached{

width: 356px;
max-width: 356px;

}

.ui.segment{

background: url("http://brucenorris11.files.wordpress.com/2011/01/blurry_20030715.jpg")

}

.profile-header{

float:right;
color:white;

}

.menu-profile1{

float:left;


}


.menu-image{

	position:fixed;
	top:20px;
	left:50px;
	width: 200px


}

.weather{

	background: url("http://images.fineartamerica.com/images-medium-large-5/close-up-view-of-the-grass-in-a-garden-shot-from-ground-level-fizzy-image.jpg") no-repeat;

}

.weather h1{

	color: white;
padding-left: 62px;
padding-top: 198px;
font-size: 8em;
	


}

.weather h2{

color: white;
padding-left: 38px;
margin-top: -24px;
font-size:3em;
	

}

.right-menu{
background: transparent;

}

.right-menu ul
{
margin:0px;
padding:0px;
list-style-type:none;
-webkit-backface-visibility: hidden; backface-visibility: hidden;  
}
.var_nav
{
position:relative;
background:black; 
width:300px;
height:70px;
margin-bottom:0px;

}
.link_bg
{
 width:70px;
 height:70px;
 position:absolute;
 background:#B20000;
 color:#fff;
 z-index:2;
}
.link_bg i
{
 position:relative;
}
.link_title
{
position:absolute;
width:100%;
z-index:3;
color:#fff;
}
.var_nav:hover .link_bg
{
width:100%;
background:#B20000;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;  
}
.var_nav:hover a
{
font-weight:bold;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;
 transition:all .5s ease-in-out;  
}


.menu-right a{
display:block;
position:absolute;
float:left;
font-family:arial;
font-size: 1.3em;
color:white;
text-decoration:none;
width:100%;
height:70px;
text-align:center;
padding-left:70px;
}

a:hover{

	color:teal;
}


.menu-right span
{
margin-top:25px;
display:block;
}


.canvas-email-box{


background: gray;
width: 178px;
height: 178px;
border-radius: 10px 10px 10px 10px;
margin-top:-25px;


}

.widget-header{

background: #B20000;
color:white;
padding-top:5px;
border-radius: 10px 10px 0 0;
text-align: center;

}


.email-counter{

font-size: 5em;
text-align: center;

}

a {
color: white;
text-decoration: none;
}


.canvas-assignment-box{


background: gray;
width: 356px;
height: 356px;
border-radius: 10px 10px 10px 10px;
margin-top:-25px;


}

.canvas .list, .recent-feedback .list{

padding-left:10px;

}
 .ui .divided .list a:hover{

color:teal;
}

.recent-feedback .checkmark{

	color:lime;
}

/*Table*/

table {
  font-family: sans-serif;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  margin-bottom: 50px;
}
table thead tr th {
  background: #B20000;
  color: #d1d5db;
  padding: 0.5em;
  overflow: hidden;
}
table thead tr th:first-child {
  border-radius: 3px 0 0 0;
}
table thead tr th:last-child {
  border-radius: 0 3px  0 0;
}
table thead tr th .day {
  display: block;
  font-size: 1.2em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  padding: 5px;
  line-height: 1.8;
}
table thead tr th .day.active {
  background: #d1d5db;
  color: #626e7e;
}
table thead tr th .short {
  display: none;
}
table thead tr th i {
  vertical-align: middle;
  font-size: 2em;
}
table tbody tr {
  background: #d1d5db;
}
table tbody tr:nth-child(odd) {
  background: #c8cdd4;
}
table tbody tr:nth-child(4n+0) td {
  border-bottom: 1px solid #626e7e;
}
table tbody tr td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #626e7e;
  position: relative;
  height: 32px;
  cursor: pointer;
}
table tbody tr td:last-child {
  border-right: 1px solid #626e7e;
}
table tbody tr td.hour {
  font-size: 2em;
  padding: 0;
  color: #626e7e;
  background: #fff;
  border-bottom: 1px solid #626e7e;
  border-collapse: separate;
  min-width: 100px;
  cursor: default;
}
table tbody tr td.hour span {
  display: block;
}
@media (max-width: 60em) {
  table thead tr th .long {
    display: none;
  }
  table thead tr th .short {
    display: block;
  }
  table tbody tr td.hour span {
    -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
  }
}
@media (max-width: 27em) {
  table thead tr th {
    font-size: 65%;
  }
  table thead tr th .day {
    display: block;
    font-size: 1.2em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    padding: 5px;
  }
  table thead tr th .day.active {
    background: #d1d5db;
    color: #626e7e;
  }
  table tbody tr td.hour {
    font-size: 1.7em;
  }
  table tbody tr td.hour span {
    -ms-transform: translateY(16px) rotate(270deg);
        transform: translateY(16px) rotate(270deg);
    -webkit-transform: translateY(16px) rotate(270deg);
    -moz-transform: translateY(16px) rotate(270deg);
  }
}

