/*Profile*/

.profile{

	background: #B20000;
}

/*Amount Due*/


.amount-due th{

color:  teal;
font-size: 2em

}

/*Academic Profile*/

.academic-profile{


}

/*Account Summary*/

.account-summary{


}

/*Canvas-email*/

.canvas-email{


}


/*Assignements Coming Up*/

.coming-up{


}

/*Email*/

.email{


}

/*Financial Aid*/

.financial-aid{


}

/*Footer Menu*/

.footer-menu{


}

/*Courses*/

.my-courses{


}

/*Grades*/

.my-grades{


}

/*Recent Feedback*/

.recent-feedback{


}

/*Registration Date*/

.registration-date{


}

/*Registration Tools*/

.registration-tools{


}

/*Assignemtns To Do*/

.to-do{


}



.ui.segment.attached{

width: 356px;
max-width: 356px;

}

.ui.segment{

background: url("http://brucenorris11.files.wordpress.com/2011/01/blurry_20030715.jpg")

}

.profile-header{

float:right;
color:white;

}

.menu-profile1{

float:left;


}


.menu-image{

	position:fixed;
	top:20px;
	left:50px;
	width: 200px


}

.weather{

	background: url("http://images.fineartamerica.com/images-medium-large-5/close-up-view-of-the-grass-in-a-garden-shot-from-ground-level-fizzy-image.jpg") no-repeat;

}

.weather h1{

	color: white;
padding-left: 62px;
padding-top: 198px;
font-size: 8em;
	


}

.weather h2{

color: white;
padding-left: 38px;
margin-top: -24px;
font-size:3em;
	

}

.right-menu{
background: transparent;

}

ul
{
margin:0px;
padding:0px;
list-style-type:none;
-webkit-backface-visibility: hidden; backface-visibility: hidden;  
}
.var_nav
{
position:relative;
background:black; 
width:300px;
height:70px;
margin-bottom:5px;
}
.link_bg
{
 width:70px;
 height:70px;
 position:absolute;
 background:#B20000;
 color:#fff;
 z-index:2;
}
.link_bg i
{
 position:relative;
}
.link_title
{
position:absolute;
width:100%;
z-index:3;
color:#fff;
}
.var_nav:hover .link_bg
{
width:100%;
background:#B20000;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;  
}
.var_nav:hover a
{
font-weight:bold;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;
 transition:all .5s ease-in-out;  
}


a{
display:block;
position:absolute;
float:left;
font-family:arial;
color:white;
text-decoration:none;
width:100%;
height:70px;
text-align:center;
}

a:hover{

	color:teal;
}
span
{
margin-top:25px;
display:block;
}



