/*Profile*/

.profile{

	background: #B20000;
}

/*Amount Due*/


.amount-due th{

color:  teal;
font-size: 2em

}

/*Academic Profile*/

.academic-profile{


}

/*Account Summary*/

.account-summary{


}

/*Canvas-email*/

.canvas-email{


}


/*Assignements Coming Up*/

.coming-up{


}

/*Email*/

.email{


}

/*Financial Aid*/

.financial-aid{


}

/*Footer Menu*/

.footer-menu{


}

/*Courses*/

.my-courses{


}

/*Grades*/

.my-grades{


}

/*Recent Feedback*/

.recent-feedback{


}

/*Registration Date*/

.registration-date{


}

/*Registration Tools*/

.registration-tools{


}

/*Assignemtns To Do*/

.to-do{


}



.ui.segment.attached{

width: 356px;
max-width: 356px;

}

.ui.segment{

background: url("http://brucenorris11.files.wordpress.com/2011/01/blurry_20030715.jpg")

}

.profile-header{

float:right;
color:white;

}

.menu-profile1{

float:left;


}


.menu-image{

	position:fixed;
	top:20px;
	left:50px;
	width: 200px


}

.weather{

	background: url("http://images.fineartamerica.com/images-medium-large-5/close-up-view-of-the-grass-in-a-garden-shot-from-ground-level-fizzy-image.jpg") no-repeat;

}

.weather h1{

	color: white;
padding-left: 62px;
padding-top: 198px;
font-size: 8em;
	


}

.weather h2{

color: white;
padding-left: 38px;
margin-top: -24px;
font-size:3em;
	

}


.ui.menu .item hover{
font-size: 2rem;
}

.ui.vertical.menu .item hover{


background: pink

}

